<p><strong>title:</strong>
    <%= @article.title %>
</p>

<p><strong>text:</strong>
    <%= @article.text %>
</p>

<hr>

<h2>评论：</h2>
<%= render @article.comments %>

<hr>

<h2>添加评论：</h2>
<%= render 'comments/form' %>

<hr>

<p><%= link_to '修改该文章', edit_article_path(@article) %></p>
<p><%= link_to '返回文章列表', articles_path %></p>