<p><strong>title:</strong>
    <%= @article.title %>
</p>

<p><strong>text:</strong>
    <%= @article.text %>
</p>

<hr>

<h2>评论：</h2>
<% @article.comments.each do |comment| %>
  <p>
    <strong>Commenter:</strong>
    <%= comment.commenter %>
  </p>
 
  <p>
    <strong>Comment:</strong>
    <%= comment.body %>
  </p>
<% end %>

<hr>

<h2>添加评论：</h2>
<%= form_for([@article, @article.comments.build]) do |f| %>
  <p>
    <%= f.label :commenter %><br>
    <%= f.text_field :commenter %>
  </p>
  <p>
    <%= f.label :body %><br>
    <%= f.text_area :body %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>

<hr>

<p><%= link_to '修改该文章', edit_article_path(@article) %></p>
<p><%= link_to '返回文章列表', articles_path %></p>